<footer class="footer-16371">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <div class="footer-site-logo mb-4">
          <a href="#"
            ><img
              src="../../../assets/images/components/logo.png"
              alt=""
              height="50"
          /></a>
        </div>
        <ul class="list-unstyled nav-links mb-5">
          <li><a href="#">Home</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        <div class="social mb-4">
          <h3>Stay in here</h3>
          <ul class="list-unstyled">
            <li class="in">
              <a href="#"
                ><fa-icon class="icon-instagram" [icon]="faInstagram"></fa-icon
              ></a>
            </li>
            <li class="fb">
              <a href="#"
                ><fa-icon class="icon-facebook" [icon]="faFacebook"></fa-icon
              ></a>
            </li>
            <li class="tw">
              <a href="#"
                ><fa-icon class="icon-twitter" [icon]="faTwitter"></fa-icon
              ></a>
            </li>
          </ul>
        </div>

        <div class="copyright">
          <p class="mb-0">
            <small>&copy; Diar. All Rights Reserved.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
