<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">
          <h2>Up to 70% off</h2>
          <div class="line-dec"></div>
          <p>
            Discount on fall collection<br />
            <br />
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
            facilis dicta voluptatem, minus cupiditate repudiandae praesentium
            illum nulla nostrum quia animi, dolore inventore beatae, non nemo
            atque iste ullam neque.
          </p>
          <div class="main-button">
            <a href="https://www.free-css.com/free-css-templates">Order Now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
