<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h3>Featured Product</h3>
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Product -->
      <div
        class="col-md-6 col-lg-4 col-xl-3"
        *ngFor="let product of products; let i = index"
      >
        <div id="{{ 'product-' + (i + 1) }}" class="single-product">
          <a routerLink="{{ '../product/' + product._id }}">
            <div
              class="part-1"
              [ngStyle]="{
                background:
                  '#212121 url(../../../../' +
                  product.imagePath +
                  ') no-repeat center',
                'background-size': 'cover',
                transition: 'all 0.3s',
                overflow: 'hidden'
              }"
            ></div>
          </a>
          <div class="part-3">
            <ul>
              <li>
                <input type="hidden" [value]="product._id" #f />
                <a (click)="addToCart(f.value)"
                  ><fa-icon [icon]="faShoppingCart"></fa-icon
                ></a>
              </li>
            </ul>
          </div>

          <div class="part-2">
            <h3 class="product-title">{{ product.title }}</h3>
            <h4 class="product-price">IDR {{ product.price }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
